@model List<Course>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Course List</h1>
    @Model[0].Title <br>
    @Model[1].Title

    @foreach(var kurslar in Model)
    {
        <div id="kurslar_@kurslar.ID">
            <h2>@kurslar.Title</h2>
            <p>@kurslar.Description</p>
            <img src="~/img/@kurslar.Image" width="200" alt="">
        </div>
    }
    
</body>
</html>