@model List<Course>
@foreach(var kurslar in Model)
{
    <div class="card mb-3" id="kurslar_@kurslar.ID">
        <div class="row">
            <div class="col-md-4">
                    <img src="~/img/@kurslar.Image" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@kurslar.Title</h5>
                    <p class="card-text">@kurslar.Description</p>    
                </div>
            </div>    
        </div>
    </div>
}